.closeButton {
    float: right;
    margin-right: -12px;
    margin-top: -2px;
}

.closeButton:hover {
    cursor: pointer;
}

::ng-deep .mat-button-focus-overlay {
    background-color: transparent;
}

.iconProperties {
    font-size: 28px;
    color: rgba(255, 0, 0, 0.6);
}

::ng-deep .custom-snackbar-class .mat-simple-snackbar {
    justify-content: center;
    font-family: inherit;
}

::ng-deep .error-snackbar-class {
    background-color: red;
}

::ng-deep .error-snackbar-class .mat-simple-snackbar {
    justify-content: center;
    font-family: inherit;
    color: white;
}

::ng-deep .mat-tooltip {
    white-space: pre-line !important;
    text-align: center;
    font-size: 1em;
}

.categoryHeader {
    margin-top: -12px;
    color: rgba(0, 0, 0, 0.76);
}

.addEnvironmentFormHeader {
    font-size: 15px;
    color: rgb(89, 76, 76);
}

.headerClass {
    margin-bottom: 20px;
    font-size: 20px;
}

.divHeight {
    margin-top: 10px;
}

.selectView {
    width: 100%;
    margin-top: 0.5em;
    padding-bottom: 0px;
}

.buttonHeight {
    line-height: 3.125;
    margin-top: 25px;
}

#applyButtonSection {
    height: 15%;
    overflow: hidden;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 1em 0;
}

::ng-deep .mat-select-panel {
    margin-top: 24px;
}

::ng-deep .mat-select-arrow {
    border-top: 8px solid #adadad !important;
    border-left: 8px solid transparent !important;
    border-right: 8px solid transparent !important;
    margin-top: 7px !important;
}

.addEnvironmentMainForm {
    height: 79vh;
    overflow: hidden;
}

.innerAddEnvironmentForm {
    height: 80%;
    overflow: auto;
    padding-right: 10px;
    scrollbar-width: thin;
}

@media (max-height: 823px) {
    .addEnvironmentMainForm {
        height: 81vh;
    }
    .innerAddEnvironmentForm {
        height: 77%;
    }
}

@media (max-height: 700px) {
    .addEnvironmentMainForm {
        height: 86vh;
    }
    .innerAddEnvironmentForm {
        height: 74%;
    }
}

@media (max-height: 588px) {
    .addEnvironmentMainForm {
        height: 86vh;
    }
    .innerAddEnvironmentForm {
        height: 73%;
    }
}