<div class="whatsNewContainer">
  <nav class="whats-new-header-bar">
    <p class="whats-new-header-h1">What’s New in EMT</p>
    <p class="whats-new-header-h2">Here’s what we’ve been working on.</p>
  </nav>
</div>
<div class="container">
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 5.2.49</mat-card-title>
        <mat-card-subtitle class="date">Oct 18th, 2021</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-17071"
                  target="_blank">(RTD-17071)</a>
              </b> Rework EMT Platform Type Implementation To Allow For Specific Operational Groupings & Default Views.
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 5.2.42</mat-card-title>
        <mat-card-subtitle class="date">May 11th, 2021</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-14240"
                  target="_blank">(RTD-14240)</a>
              </b> As a cENM operator, I want additional cENM environment information stored in EMT
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 5.2.13</mat-card-title>
        <mat-card-subtitle class="date">July 24th, 2020</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-13298"
                  target="_blank">(RTD-13298)</a>
              </b> ENM434: Endurance Spoc unable to access WLVM with EMT Quarantine access
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 5.2.1</mat-card-title>
        <mat-card-subtitle class="date">April 29th, 2020</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-11618"
                  target="_blank">(RTD-11618)</a>
              </b> As a Release operator, I want the ability to create Quarantine session(s) on an individual as well as on a team
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 5.1.43</mat-card-title>
        <mat-card-subtitle class="date">March 20th, 2020</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-11616"
                  target="_blank">(RTD-11616)</a>
              </b> As a Thunderbee developer, I want the ability to revert all LMS root access restrictions for disaster recovery
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 5.1.35</mat-card-title>
        <mat-card-subtitle class="date">February 13th, 2020</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-9993"
                  target="_blank">(RTD-9993)</a>
              </b> As a R&amp;S Ops user I want to remove LMS access from a previously created user on expiry of a
              quarantine session
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 5.1.34</mat-card-title>
        <mat-card-subtitle class="date">February 13th, 2020</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-9992"
                  target="_blank">(RTD-9992)</a>
              </b> As a R&amp;S Ops user I want to provide LMS access through the creation of a quarantine session in
              EMT
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 5.1.23</mat-card-title>
        <mat-card-subtitle class="date">December 3rd, 2019</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-10362"
                  target="_blank">(RTD-10362)</a>
              </b> As a user of EMT, I want the ability to edit environments information while the environment is in a
              BUSY state so that I can maintain environment information easier
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 5.1.5</mat-card-title>
        <mat-card-subtitle class="date">October 29th, 2019</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-9435"
                  target="_blank">(RTD-9435)</a>
              </b> As an RNL Operator, I want my environments to be added to EMT
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 5.1.3</mat-card-title>
        <mat-card-subtitle class="date">October 17th, 2019</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-9495"
                  target="_blank">(RTD-9495)</a>
              </b> As a VIO user of EMT, I want VIO environments to be represented in an SIENM view in the Armory and
              the Pooling Solution
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 5.0.30</mat-card-title>
        <mat-card-subtitle class="date">October 17th, 2019</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-9496"
                  target="_blank">(RTD-9496)</a>
              </b> Can now dynamically retrieve DDP and Deployment Description information from respective in-house
              tools
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 5.0.26</mat-card-title>
        <mat-card-subtitle class="date">August 28th, 2019</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-8805"
                  target="_blank">(RTD-8805)</a>
              </b> Changed all references of "Deployment" to "Environment"
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 5.0.23</mat-card-title>
        <mat-card-subtitle class="date">August 23rd, 2019</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-7835"
                  target="_blank">(RTD-8418)</a>
              </b> Added ability to edit more information for an environment
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 5.0.12</mat-card-title>
        <mat-card-subtitle class="date">August 13th, 2019</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-7835"
                  target="_blank">(RTD-7835)</a>
              </b> As a user of EMT, I want the ability to edit an existing environment in EMT
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 5.0.1</mat-card-title>
        <mat-card-subtitle class="date">July 31st, 2019</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-8089"
                  target="_blank">(RTD-8089)</a>
              </b> As a user of EMT, I want a detailed view of my environments
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 4.1.1</mat-card-title>
        <mat-card-subtitle class="date">July 27th, 2019</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-5384"
                  target="_blank">(RTD-5384)</a>
              </b> As an EMT developer, I would like to make to make our connection to the team inventory tool
              redundant, so that EMT users can still create sessions during team inventory tool downtime
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 4.0.13</mat-card-title>
        <mat-card-subtitle class="date">July 25th, 2019</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-7836"
                  target="_blank">(RTD-7836)</a>
              </b> As a user of EMT, I want the ability to add & remove Role(s) to/from a user in EMT
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 4.0.12</mat-card-title>
        <mat-card-subtitle class="date">July 9th, 2019</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-7833"
                  target="_blank">(RTD-7833)</a>
              </b> Add and Remove Environments to/from EMT
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 4.0.1</mat-card-title>
        <mat-card-subtitle class="date">June 25th, 2019</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-2430"
                  target="_blank">(RTD-2430)</a>
              </b> Add SSL to the EMT URL
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 3.0.8</mat-card-title>
        <mat-card-subtitle class="date">Apr 4th, 2019</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-7064"
                  target="_blank">(RTD-7064)</a>
              </b> MTV pENM II integration into EMT
            </li>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-7065"
                  target="_blank">(RTD-7065)</a>
              </b> MTV pENM UG integration into EMT
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 3.0.4</mat-card-title>
        <mat-card-subtitle class="date">Mar 21st, 2019</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-4844"
                  target="_blank">(RTD-4844)</a>
              </b> As an EMT user, I want the application to behave with respect to the active user's role
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 3.0.1</mat-card-title>
        <mat-card-subtitle class="date">Mar 12th, 2019</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-6272"
                  target="_blank">(RTD-6272)</a>
              </b> Basic authentication added for EMT
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.1.41</mat-card-title>
        <mat-card-subtitle class="date">Feb 5th, 2019</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-2428"
                  target="_blank">(RTD-2428)</a>
              </b> Change state through EMT UI feature added
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.1.31</mat-card-title>
        <mat-card-subtitle class="date">Dec 5th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-2156"
                  target="_blank">(RTD-2156)</a>
              </b> Populating NSS and NRM Information for an Environment
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.1.30</mat-card-title>
        <mat-card-subtitle class="date">Dec 4th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-4539"
                  target="_blank">(RTD-4539)</a>
              </b> Sort Product Set Version column in order of version
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.1.26</mat-card-title>
        <mat-card-subtitle class="date">Nov 13th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-4589"
                  target="_blank">(RTD-4589)</a>
              </b> Adding a close button to dialog modals
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.1.25</mat-card-title>
        <mat-card-subtitle class="date">Nov 8th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-5125"
                  target="_blank">(RTD-5125)</a>
              </b> Automatically delete any sessions that have expired over a month ago
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.1.24</mat-card-title>
        <mat-card-subtitle class="date">Nov 5th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-5255"
                  target="_blank">(RTD-5255)</a>
              </b> Allowing a user to add 'other' information to a environment
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.1.23</mat-card-title>
        <mat-card-subtitle class="date">Oct 30th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-3870"
                  target="_blank">(RTD-3870)</a>
              </b> As an EMT user I want to automatically remind a team their session will expire soon
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.1.22</mat-card-title>
        <mat-card-subtitle class="date">Oct 26th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-3879"
                  target="_blank">(RTD-3879)</a>
              </b> As a user of EMT I want to provide the ability to extend a session through the UI
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.1.15</mat-card-title>
        <mat-card-subtitle class="date">Oct 15th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-3848"
                  target="_blank">(RTD-3848)</a>
              </b> Ability to update the teams assigned to a troubleshooting session
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.1.12</mat-card-title>
        <mat-card-subtitle class="date">Oct 8th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-4975"
                  target="_blank">(RTD-4975)</a>
              </b> Fixed sessions being created when a session is already ongoing
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.1.11</mat-card-title>
        <mat-card-subtitle class="date">Oct 1st, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-4750"
                  target="_blank">(RTD-4750)</a>
              </b> Added environment actions
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.1.10</mat-card-title>
        <mat-card-subtitle class="date">Sep 24th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-4968"
                  target="_blank">(RTD-4968)</a>
              </b> EMT Create Session now accepts full jira link
            </li>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-4966"
                  target="_blank">(RTD-4966)</a>
              </b> Introduce Firefox support
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.1.5</mat-card-title>
        <mat-card-subtitle class="date">Sep 17th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-4749"
                  target="_blank">(RTD-4749)</a>
              </b> Ability to associate a JIRA with a session
            </li>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-4723"
                  target="_blank">(RTD-4723)</a>
              </b> Stop two sessions being created at the same time
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.1.4</mat-card-title>
        <mat-card-subtitle class="date">Sep 6th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-2527"
                  target="_blank">(RTD-2527)</a>
              </b> Implemented Lint testing in precode review for Angular container.
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.1.3</mat-card-title>
        <mat-card-subtitle class="date">Sep 4th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-2527"
                  target="_blank">(RTD-2527)</a>
              </b> Implemented Lint testing in precode review for Express container.
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.1.2</mat-card-title>
        <mat-card-subtitle class="date">Aug 29th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="#" target="_blank">(NO-JIRA)</a>
              </b> Changed font of piechart title.
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.1.1</mat-card-title>
        <mat-card-subtitle class="date">Aug 27th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-4019"
                  target="_blank">(RTD-4019)</a>
              </b> Introduced Physical environments into live EMT operations.
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.0.17</mat-card-title>
        <mat-card-subtitle class="date">Aug 24th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-4607"
                  target="_blank">(RTD-4607)</a>
              </b> Fixed EMT sessions link in sessions email.
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.0.16</mat-card-title>
        <mat-card-subtitle class="date">Aug 20th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-4538"
                  target="_blank">(RTD-4538)</a>
              </b> Added bold to the environment name in the expired session email body.
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.0.15</mat-card-title>
        <mat-card-subtitle class="date">Aug 20th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-4538"
                  target="_blank">(RTD-4538)</a>
              </b> Added environment name to the quarantine session email body.
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.0.14</mat-card-title>
        <mat-card-subtitle class="date">Aug 20th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-4535"
                  target="_blank">(RTD-4535)</a>
              </b> Changed the color of the Create Session and Manage Session button.
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.0.13</mat-card-title>
        <mat-card-subtitle class="date">Aug 17th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-4450"
                  target="_blank">(RTD-4450)</a>
              </b> Implemented a loading indicator for the physical environments ENM GUI link.
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.0.12</mat-card-title>
        <mat-card-subtitle class="date">Aug 17th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-4135"
                  target="_blank">(RTD-4135)</a>
              </b> Created a What's New page to document and outline new changes made to EMT.
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.0.11</mat-card-title>
        <mat-card-subtitle class="date">Aug 17th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-2241"
                  target="_blank">(RTD-2241)</a>
              </b> Fixed an incorrect hyperlink contained withing the Environments Help Docs page.
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.0.10</mat-card-title>
        <mat-card-subtitle class="date">Aug 17th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-2241"
                  target="_blank">(RTD-2241)</a>
              </b> Made EMT Help Docs live.
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.0.9</mat-card-title>
        <mat-card-subtitle class="date">Aug 17th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-4247"
                  target="_blank">(RTD-4247)</a>
              </b> Amended incorrect information within the Swagger Docs around the Session's API.
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.0.8</mat-card-title>
        <mat-card-subtitle class="date">Aug 17th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-4524"
                  target="_blank">(RTD-4524)</a>
              </b> Jenkins job hyperlink's will now open the relevant job page in a new browser tab.
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.0.7</mat-card-title>
        <mat-card-subtitle class="date">Aug 16th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-2241"
                  target="_blank">(RTD-2241)</a>
              </b> Additional changes added for EMT's upcoming Help Documentation page. Part 2 of the full initial
              implementation.
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.0.6</mat-card-title>
        <mat-card-subtitle class="date">Aug 16th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section>
          <ul>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-4247"
                  target="_blank">(RTD-4247)</a>
              </b> Fixed some minor imperfections within the Swagger Docs.
            </li>
            <li>
              <b>
                <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-2241"
                  target="_blank">(RTD-2241)</a>
              </b> Created a skeleton for EMT's upcoming Help Documentation page.
            </li>
          </ul>
        </section>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.0.5</mat-card-title>
        <mat-card-subtitle class="date">Aug 15th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>
            <b>
              <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-4213"
                target="_blank">(RTD-4213)</a>
            </b> Styled the EMT application with the UI SDK 2.0 styling guidelines. This was to ensure visual
            consistency
            with other Ericsson tools.
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="mat-card-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="emt-version-text">EMT 2.0.4</mat-card-title>
        <mat-card-subtitle class="date">Aug 13th, 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>
            <b>
              <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-4454"
                target="_blank">(RTD-4454)</a>
            </b> The team list in the Create Session dropdown list will now be sorted in alphabetical order.
          </li>
          <li>
            <b>
              <a href="https://jira-oss.seli.wh.rnd.internal.ericsson.com/browse/RTD-2431"
                target="_blank">(RTD-2431)</a>
            </b> An EMT user will now be notified if an e-mail could not be sent to a team in which a Session has been
            created
            for.
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
